---
import Layout from '../layouts/Layout.astro';
import Main from '../layouts/Main.astro';
import Carousel from "../components/Carousel.astro";
import ReactCarousel from"../components/ReactCarousel.jsx";
---
<link href="/src/global.css" rel="stylesheet">
<Layout> 
	<Main>
	<slot />
    </Main>
</Layout>

