---
import "../styles/global.css";
import Footer from "./Footer.astro";
import Header from "./Header.astro";
---
<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="path/to/swiper-bundle.min.css" />
		<meta name="generator" content={Astro.generator} />
		<title>KAI NAKAMURA</title>
	</head>
	<body>
		<Header></Header>
		<slot />
		<Footer></Footer>
	</body>
</html>
<style>
	body{
		background-color: black;
	}
</style>